

<%= bootstrap_form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.rich_text_area :content, label: "content" %>
  </div>

  <div class="field">
    <%= form.select :user_id, options_for_select(User.pluck(:name, :id)), class: "form-control mb-4", label: "User Name" %>
  </div>

   <div class="field">
    <%= form.select :catelogy_id, options_for_select(Catelogy.pluck(:catelogyName, :id)), class: "form-control mb-4", label: "Catelogy Name" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>


