<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user.name%>
</p>
<p>
  <strong>catelogy_Name:</strong>
  <%= @micropost.catelogy.catelogyName %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost), class: "btn btn-primary" %> |
<%= link_to 'Back', microposts_path, class: "btn btn-secondary" %>
</div>